<!DOCTYPE html>
<html>
  <head>
      <meta charset = "UTF-8">
      <title>Document</title>
      <!-- font 설정 -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;500;700;900&display=swap" rel="stylesheet">
      <!-- bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
      <style>
        body{
          text-decoration: none;
          list-style: none;
          background-color:#FFDEB8;
        }
        .navbar{
          background-color:#FFDEB8;
          font-family: 'Nanum Gothic', sans-serif;
        }
        .navbar-brand > #h1{
          color: #717171;
          font-weight: 800;
        }
        .navbar-brand > #h1{
          top:0px;
        }
        .navbar-brand > #h3{
          color: #717171;
          font-weight: 800;
        }
        .collapse > .navbar-nav{
          font-family: 'Nanum Gothic', sans-serif;
          color: #717171;
          font-weight: 800;
          font-size: 20px;
        }
        .header2 > .navbar-nav{
          font-family: 'Nanum Gothic', sans-serif;
          color: #717171;
          font-weight: 800;
          font-size: 20px;
        }
        .center{
          border: 2px dashed #707070;
          background-color: #F1FBCF;
        }
        #no_sale{
          text-decoration: none;
          list-style: none;
          text-align: center;
          font-size: 50px;
          font-family:'Nanum Gothic', sans-serif;
          color:#717171;
          position: relative;
          top: 20%;
          margin: 0 auto;
        } 
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/">
            <span id="h1", style="font-size:30px;">토끼지마</span>
            <span id="h2">
              <img src="/image/carrot.png" width="35">
            </span>
            <span id="h3", style="font-size:30px;">켓</span>
          </a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page"><%= username %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">판매 완료 내역</a>
            </li>
          </ul>
          <form class="header2 d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/users/<%= username %>">마이페이지</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">로그아웃</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
    <main class="main mt-3">
      <div class="container-fluid center">
        <div class ="row g-3 mt-3">
          <% if(historys == null || historys.length == 0) { %>
            <a id="no_sale">현재 판매 내역이 존재하지않습니다</a>
          <% } %>
          <% historys.forEach(function(history){ %>
            <div class="col-md-4 col-lg-3 col-xlg-2 mt-3">
              <div class="card text-center" style="width: 18rem;">
                <% if(history.attachment) { %>
                  <div class="attachment mt-3">
                    <IMG width= "250" SRC="/files/<%= history.attachment.serverFileName %>/<%=history.attachment.originalFileName %> "></IMG>
                  </div>
                <% } %>
                <div class="card-body">
                  <h5 class="card-title"><%= history.title %></h5>
                  <p class="card-text"><%= history.contents %></p>
                  <a class="btn btn-outline-dark">판매 완료</a>
                </div>
              </div>
            </div>
          <%}) %>
        </row>
      </div>
    </main>
  </body>
</html>
